

node_modules/


//vid3
//crear un nuevo proyecto y pegar en el public la carpeta descargada 

//vid4
//crear una clase ticketcontrol en el modelo 
//crear un contructor con los tickets
//crear una carp db para los tickets
//crear un get que retornara un objeto json para la clase ticketcontrol
//crear una funcion en la clase ticketcontrol para iniciar el db y ejecutarlo en el contructor
//en el server cuando se ejecuta el sockets,este usa el controller
// en ese controller, ejecutar el modelo ticketcontrol- al momoento de importar el ticketcontrol
//este ejecuta todo lo que esta dentro de ese archivo, osea el contexto y algunas variables-ejecutando el init de la clase
//en la funcion init hacer algo si coincide con el this.hoy y guardar en la db

//vid5
//funcion para crear un ticket siguiente, crear tambien una nueva clase para el ticket
//funcion para atender el ticket

//vid6
//del socket del server,recibir del cliente un valor, y enviarlo un callback de acuerdo a lo que mando el cliente
//agregar el socket io al indexnuevo-ticket,atrapar el boton y el texto.ir al js-socket del cliente(nuevo-ticket) y haver mejoras
//al dar click en el boton,el cliente envia un valor, y el server lo recibe y lo guarda en la db, reiniciando el nodemon
//para que no reinicie, se crea un nodemon.json y se bloquea el db.json
//al actualizar la pagina,el server debe enviar el ultimo ticket para que el cliente lo reciba y lo tenga por default

//vid7
//ir al escritorio.js
//al escribir en el input, me lleva al index del escritorio con el parametro que escribi en el input
//validar que sea escritorio ,lo que escribo y mostrar su valor en el index

//vid8
//al dar click que emita un evento al server, y este me regresa un callback donde el ticket ya fue atendido
//el alert se mostrara en el cliente si no hay tickets

//vid9
//ir al publico.js y mostrar los ultimos tickets en el index

//vid10
//en escritorio, que muestre los tickets en la cola
//al atender el ticket, que muestre el ticket atendido en la cola
//al generar un tcket que refleje en el escritorio cola

//vid11
//añadir un audio en el index publico.js